 body{
     font-family:  'Open Sans', sans-serif;
     font-size: 16px;
     line-height: 20px;
    }

.imagen-header{
    width: 100px; height: 100px;
    }

header{
    background-color: #274A61; /*rgb(105, 110, 116); */
    padding: 1em 0;
}

header h1{
    color: white;
    font-size: 2.5rem;
    font-weight: 100px;
    display: inline-block;
    position: relative;
    bottom: 30px;
}

nav{
    background-color: lightblue;
    margin-bottom: 2rem;
    margin-top: 0xp;
}
nav ul{
    margin: 0;
}
nav li{
    display: inline-block;
    width: 15%;
}    

nav ul li a{
    color: white;
    text-decoration: none;
    list-style: none;
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;

}

nav ul li a:hover{
    background-color: #274A61;
}

.holder{
    max-width: 960px;
    margin: 0 auto;
}

h2, h3{
    padding-top: 10px;
    color:#274A61;
    font-weight: 400;
    margin: 0 0 1rem;
}

.right{
    float: right;
}

.left{
    float: left;
}

.home-img{
    width: 950px;
    height: auto;
}


.bienvenidos, .transparencia{
    box-sizing: border-box;
}

.bienvenidos{
    width: 75%;
    padding-right: 2rem;
}


.transparencia{
    width: 25%;
}

.carousel img{
    width: 550px; 
    height: 450px; 
   }

   .formulario{    
    background-color:lightblue;
    width: 60rem;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset{
    border: none;
}

.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #274A61;
}
@media (min-width: 768px) {
    .contenedor-campos{
         display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: auto auto 20rem;
     column-gap: 1rem;
 }
 .campo:nth-child(3),
 .campo:nth-child(4){
     grid-column: 1 / 3;
 }
 }
 
 .campo{
 margin-bottom: 1rem;
 }
 
 .campo label{
 color: #274A61;
 font-weight: bold;
 margin-bottom: .5rem;
 display: block;
 }
 
 .campo textarea{
     height: 10rem;
 }
 
 
 
 .input-text{
     width: 90%;
     border: none;
     padding: 10px;
     border-radius: 10px;
 }
 .alinear-derecha{
    justify-content: flex-end;
    }
    .boton{
        background-color: #274A61;
     color: white;
        padding: 1rem 1rem;
        margin-top: 1rem;
        font-size: 1rem;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
    }